@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap");
header {
  width: 90%;
  padding: 0 10px;
  margin: 10px auto;
}

header, header .logo, header .button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #F0EEF0;
  color: #000000;
}

header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #fff;
}

header .logo {
  width: auto;
  height: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo .logo__img {
  background: url(/img/logo_img.png) no-repeat;
  background-position: -3px -4px;
  width: 73px;
  height: 73px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #8a2929;
}

header .logo p {
  font-family: 'IBM Plex Serif', serif;
  margin-left: 10px;
  font-weight: 700;
  font-size: 28px;
}

header .logo p > span {
  color: red;
}

header .search input {
  width: 250px;
  height: 26px;
  padding-left: 10px;
  font-weight: 700;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #DCDADC;
}

header .search input:focus {
  border-color: #CAD7FC;
  -webkit-box-shadow: 0px 0px 3px 0px #5e97e0;
          box-shadow: 0px 0px 3px 0px #5e97e0;
}

header .button .btn {
  border: 2px solid #DBDADE;
  background: #F7F8FB;
  padding: 0 8px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-left: 5px;
  font-weight: 700;
  color: #000;
  -webkit-transition: background 0.8s ease;
  -o-transition: background 0.8s ease;
  transition: background 0.8s ease;
}

header .button .btn:hover {
  background: #E6E6EA;
}
