@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap');

@import "mixins";
@import "vars";

%container {
    width: 90%;
    padding: 0 10px;
    margin: 10px auto;
    
}

%flexDisplay {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: $backgroundColor;
    color: $textColor;
    }

header{
    @extend %container;
    @extend %flexDisplay;
    align-items: center;
    height: 100px;
    background-color: #fff;

    .logo{
        @extend %flexDisplay;
        width: auto;
        height: 100px;
        align-items: center;



        .logo__img{
            background: url(/img/logo_img.png) no-repeat;
            background-position: -3px -4px;
            width: 73px;
            height: 73px;
            border-radius: 50%;
            border: 2px solid rgb(138, 41, 41) 
        }
        p{
            font-family: 'IBM Plex Serif', serif;
            margin-left: 10px;
            font-weight: 700;
            font-size: 28px;
            
            > span{
                color: red;
            }
        }
    }
    .search{
        input{
            width: 250px;
            height: 26px;
            padding-left: 10px;
            font-weight: 700;
            border-radius: 5px;
            border-color: #DCDADC;
            

            &:focus{
                border-color: #CAD7FC;
                box-shadow: 0 1px 1px 2px (#ACD0FF);
            }
        }
    }
    

    

}